<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head th:replace="header :: common_header(~{::title}, ~{}, ~{::script})">
        <title>Update Piece</title>
        <script></script>
    </head>
    <body>
        <div th:include="header :: options"/>
        <h1>Update Piece</h1>
        <br/>
        <form action="#" th:action="@{/piece/save}" th:object="${piece}" method="post">
            <p>Id: <input type="text" th:field="*{id}" readonly="readonly"/></p>
            <p>Composer: <input type="text" th:field="*{composer}" /></p>
            <p>Title: <input type="text" th:field="*{title}" /></p>
            <p>Subtitle: <input type="text" th:field="*{subtitle}" /></p>
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form> 
    </body>
</html>
