<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head> 
        <title>Error</title>
        <meta charset="UTF-8"/>
        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/5.2.0/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"
              rel="stylesheet" media="screen" />
        <script src="http://cdn.jsdelivr.net/webjars/jquery/3.6.1/jquery.min.js"
        th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
        <!-- Bootstrap -->
        <script src="http://cdn.jsdelivr.net/webjars/bootstrap/5.2.0/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
        <!-- Additional resources required for dataTables -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.12.1/datatables.min.css"
              th:href="@{/webjars/datatables/1.12.1/css/jquery.dataTables.min.css}"/>
        <script src="https://cdn.datatables.net/v/bs4/dt-1.12.1/datatables.min.js"
        th:src="@{/webjars/datatables/1.12.1/js/jquery.dataTables.min.js}"></script>

    </head>
    <body>        
        <div th:include="header :: options"></div>
        <h1>Error</h1><!-- comment -->        
        <p th:if="${url}">
            <b>Page:</b> <span th:text="${url}">Page URL</span>
        </p>

        <p th:if="${timestamp}" id='created'>
            <b>Occurred:</b> <span th:text="${timestamp}">Timestamp</span>
        </p>

        <p th:if="${status}">
            <b>Response Status:</b> <span th:text="${status}">status-code</span> <span
                th:if="${error}" th:text="'('+${error}+')'">error ...</span>
        </p>

        <p>Oops - the application has encountered an error ....</p>
        <!--
      // Hidden Exception Details  
        -->
        <div>
            <dl class = "dl-horizontal">
                <dt>Date</dt>    
                <dd th:text="${timestamp}"/>
                <dt>Path</dt>
                <dd th:text="${path}"/>
                <dt>Error</dt>
                <dd th:text="${error}"/>
                <dt>Status</dt>
                <dd th:text="${status}"/>
                <dt>Message</dt>
                <dd th:text="${message}"/>
                <dt>Exception</dt>
                <dd th:text="${exception}"/>
                <dt>Trace</dt>
                <dd>
                    <pre th:text="${trace}"/>
                </dd>

            </dl>
        </div>
    </body>
</html>