<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head th:replace="~{header :: common_header(~{::title}, ~{}, ~{})}"> 
        <title>Error</title>
    </head>
    <body>        
        <div th:insert="~{header :: options}"></div>
        <h1>Error</h1><!-- comment -->        
        <p th:if="${url}">
            <b>Page:</b> <span th:text="${url}">Page URL</span>
        </p>

        <p th:if="${timestamp}" id='created'>
            <b>Occurred:</b> <span th:text="${timestamp}">Timestamp</span>
        </p>

        <p th:if="${status}">
            <b>Response Status:</b> <span th:text="${status}">status-code</span> <span
                th:if="${error}" th:text="'('+${error}+')'">error ...</span>
        </p>

        <p>Oops - the application has encountered an error ....</p>
        <!--
      // Hidden Exception Details  
        -->
        <div>
            <dl class = "dl-horizontal">
                <dt>Date</dt>    
                <dd th:text="${timestamp}"/>
                <dt>Path</dt>
                <dd th:text="${path}"/>
                <dt>Error</dt>
                <dd th:text="${error}"/>
                <dt>Status</dt>
                <dd th:text="${status}"/>
                <dt>Message</dt>
                <dd th:text="${message}"/>
                <dt>Exception</dt>
                <dd th:text="${exception}"/>
                <dt>Trace</dt>
                <dd>
                    <pre th:text="${trace}"/>
                </dd>

            </dl>
        </div>
    </body>
</html>