<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment="common_header(title, links, scripts)">

        <title th:replace="${title}">The awesome application</title>
        <meta charset="UTF-8"/>
        <!-- Common styles and scripts -->
        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/5.2.0/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"
              rel="stylesheet" media="screen" />
        <script src="http://cdn.jsdelivr.net/webjars/jquery/3.6.1/jquery.min.js"
        th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
        <script src="http://cdn.jsdelivr.net/webjars/jquery-validation/1.19.3/jquery.validate.min.js"
        th:src="@{/webjars/jquery-validation/1.19.3/jquery.validate.min.js}"></script>
        <!-- Bootstrap -->
        <script src="http://cdn.jsdelivr.net/webjars/bootstrap/5.2.0/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
        <!-- Additional resources required for dataTables -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.12.1/datatables.min.css"
              th:href="@{/webjars/datatables/1.12.1/css/jquery.dataTables.min.css}"/>
        <script src="https://cdn.datatables.net/v/bs4/dt-1.12.1/datatables.min.js"
        th:src="@{/webjars/datatables/1.12.1/js/jquery.dataTables.min.js}"></script>
        
        <link rel="shortcut icon" href="/images/favicon.ico" th:href="@{/images/favicon.ico}"/>

        <!--/* Per-page placeholder for additional links */-->
        <th:block th:replace="${links}" />
        <!--/* Per-page placeholder for additional scripts */-->
        <th:block th:replace="${scripts}" />
        <!-- Bootstrap icons -->
        <style>
            i.bi   {
                font-size: 1.5rem; 
                color: cornflowerblue;
            }
        </style>
    </head>

    <body>
        <!-- Permanent options for each page -->
        
        <div th:fragment="options">
            <table class="table menu">
                <thead/>
                <tbody>
                    <tr>
                        <td><img src="BSO" th:attr="src=@{/images/BSO-Red-Logo2.png}" alt="BSO Image"/></td> 
                        <td th:if="${#authentication} != null">
                            <a href="login" th:if="${#authentication.name} == 'anonymousUser'" th:href="@{/concert/login}">Login</a>
                            <a href="setpassword" th:if="${#authentication.name} != 'anonymousUser'" th:href="@{/user/setpassword}">Set password</a>
                        </td>
                        <td sec:authorize="hasRole('ROLE_ADMIN')">
                            <a href="users" th:href="@{/user/list}">Users</a>
                        </td>
                        <!--
                        <td sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_PLANNER')">
                            <a href="plans" th:href="@{/plan/list}">Plans</a>
                        </td>
                        -->
                        <td><a href="plans" th:href="@{/plan/list}">Plans</a></td> 
                        <td><a href="concerts" th:href="@{/concert/list}">Concerts</a></td> 
                        <td><a href="pieces" th:href="@{/piece/list}">Pieces</a></td> 
                        <td><a href="soloists" th:href="@{/engagement/list}">Soloists</a></td> 
                        <td><a href="venues" th:href="@{/venue/list}">Venues</a></td> 
                    </tr>
                </tbody>
            </table>
        </div>

    </body>

</html>
