<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="header :: common_header(~{::title}, ~{}, ~{::script})">
        <title>List Venues</title>
        
        <script>
            $(document).ready(function () {
                $('#venueTable').DataTable({
                    "language": {
                        "search": "Filter records: "
                    }
                });
            });
        </script>
    </head>
    <body>
        <h1>Venue List</h1>
        <p/>
        <div th:include="header :: options"/>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{new}">Create new Venue</a>
        </div>
        
        <div class="table-responsive">
            <br/><br/>
            <table id="venueTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th sec:authorize="hasRole('ROLE_ADMIN')">Option</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="venue : ${venues}">
                        <td th:text="${venue.name}">Name</td>
                        <td sec:authorize="hasRole('ROLE_ADMIN')">
                            <a th:href="@{edit/{id}(id = ${venue.id})}">Edit</a>
                            &nbsp;&nbsp;&nbsp;
                            <a th:href="@{delete/{id}(id = ${venue.id})}">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
