<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head> 
        <title>Soloists</title>
        <meta charset="UTF-8" />
        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
              rel="stylesheet" media="screen" />
        <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
        th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
        <link href="../static/css/guru.css"
              th:href="@{/css/guru.css}" rel="stylesheet" media="screen"/>
    </head>
    <body>
        <h1>Soloists</h1>
        <p/>
        <div th:include="header :: options"/>
        <div align="center">
            <br/><br/>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Engagement ID</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="e : ${engagements}">
                        <td th:text="${e.id}">ID</td>
                        <td>
                            <a href="listBySoloist" th:href="@{/concert/listBySoloist(id=${e.artist.id})}">
                                <span th:text="${e.artist.name}">Soloist</span>
                            </a>
                        </td>
                        <td>
                            <a href="listBySkill" th:href="@{/concert/listBySkill(name=${e.skill})}">
                                <span th:text="${e.skill}">Skill</span>
                            </a>
                        </td>                        
                        <td>
                            <a href="concert" th:href="@{/concert/listById(id=${e.concert.id})}">
                                <span th:text="${e.concert.date}">Date</span>                            
                            </a>
                        </td>
                        <!--
                                                <td>
                                                    <a th:href="@{edit/{id}(id = ${venue.id})}">Edit</a>
                                                    &nbsp;&nbsp;&nbsp;
                                                    <a th:href="@{delete/{id}(id = ${venue.id})}">Delete</a>
                                                </td>
                        -->
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
