<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head> 
        <title>List Venues</title>
        <meta charset="UTF-8" />
        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
              rel="stylesheet" media="screen" />
        <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
        th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
        <!-- Bootstrap -->
        <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>
        <!-- Additional resources required for dataTables -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.12.1/datatables.min.css"
              th:href="@{/webjars/datatables/1.12.1/css/jquery.dataTables.min.css}"/>
        <script src="https://cdn.datatables.net/v/bs4/dt-1.12.1/datatables.min.js"
        th:src="@{/webjars/datatables/1.12.1/js/jquery.dataTables.min.js}"></script>

        <script>
            $(document).ready(function () {
                $('#venueTable').DataTable({
                    "language": {
                        "search": "Filter records: "
                    }
                });
            });
        </script>
    </head>
    <body>
        <h1>Venue List</h1>
        <p/>
        <div th:include="header :: options"/>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{new}">Create new Venue</a>
        </div>
        
        <div class="table-responsive">
            <br/><br/>
            <table id="venueTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th sec:authorize="hasRole('ROLE_ADMIN')">Option</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="venue : ${venues}">
                        <td th:text="${venue.name}">Name</td>
                        <td sec:authorize="hasRole('ROLE_ADMIN')">
                            <a th:href="@{edit/{id}(id = ${venue.id})}">Edit</a>
                            &nbsp;&nbsp;&nbsp;
                            <a th:href="@{delete/{id}(id = ${venue.id})}">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
