<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="header :: common_header(~{::title}, ~{::link}, ~{::script})">
        <title>User List</title>
        <script></script>
        <!-- Bootstrap Icon font -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" 
              th:href="@{/webjars/bootstrap-icons/1.9.1/font/bootstrap-icons.css}"/>
    </head>
    <body>
        <div th:include="header :: options"/>
        <h1>User List</h1>
        <p/>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <a href="#" th:href="@{new}">Create new user</a>
        </div>
        <div class="container">
            <br/><br/>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Email</th>
                        <th>Roles</th>
                        <th sec:authorize="hasRole('ROLE_ADMIN')">Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.firstname}">First name</td>
                        <td th:text="${user.lastname}">Last name</td>
                        <td th:text="${user.email}">Email</td>
                        <td>
                            <table class="table">
                                <tr th:each="r : ${user.roles}">
                                    <td th:text="#{role.__${r.authority}__}">Role</td>
                                </tr>
                            </table>
                        </td>
                        <td sec:authorize="hasRole('ROLE_ADMIN')">
                            <a th:href="@{edit/{id}(id = ${user.id})}" title="Edit">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a th:href="@{delete/{id}(id = ${user.id})}" title="Delete" onclick="return confirm('Delete: are you sure?')">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
