<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="~{header :: common_header(~{::title}, ~{}, ~{::script})}">
        <title>Concert list</title>
        <script>
            $(document).ready(function () {
                var firstDate = new Date($("td.BSOconcertDate").first().text() + "T00:00:00Z");
                var now = new Date();
                var dir = firstDate > now ? "asc" : "desc";
                var table = $('#concertTable').DataTable({
                    "language": {
                        "search": "Filter records: "
                    },
                    "lengthMenu": [ [ 25, 50, 100, 200, -1 ], [ 25, 50, 100, 200, "All" ] ],
                    "order": [ [ 0, dir ] ]
                });
                $("#uploadForm").validate();
                $("#uploadZipForm").validate();
            });
            // var noteEl = document.getElementById('concertNote');
            // var tooltip = new bootstrap.Tooltip(noteEl, options);
        </script>
    </head>
    <body>
        <div class="container">
            <div th:insert="~{header :: options}"/>
            <h1>Concert List</h1>
            <p/>

            <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_PLANNER')">
                <a href="#" th:href="@{new}">Create new plan</a>
                <form id="uploadForm" method="POST" enctype="multipart/form-data" action="#" th:action="@{upload}">
                    <div class="row align-items-end">
                        <div class="col-auto">
                            <label for="fileUpload" class="form-label">Concert file to upload:</label>
                        </div>
                        <div class="col-auto">
                            <input class="form-control" id="fileUpload" name="file" type="file" required="required"/>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">Upload concert file</button>
                        </div>
                    </div>
                </form>
                <p/>
                <form id="uploadZipForm" method="POST" enctype="multipart/form-data" action="#" th:action="@{uploadZip}">
                    <div class="row align-items-end" >
                        <div class="col-auto">
                            <label for="zipUpload" class="form-label">ZIP file to upload:</label>
                        </div>
                        <div class="col-auto">
                            <input class="form-control" id="zipUpload" name="file" type="file" required="required"/>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">Upload ZIP</button>
                        </div>                        
                    </div>
                </form>
            </div>

            <div class="table-responsive">
                <br/><br/>
                <table id="concertTable" class="concert table table-bordered table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th>Date</th>
                            <th>Venue</th>
                            <th>Conductor</th>
                            <th>Pieces</th>
                            <th>Soloists</th>
                            <th sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_PLANNER')">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="concert : ${concerts}">
                            <td class="BSOconcertDate" th:text="${concert.date}">Date</td>
                            <td th:with="filename=|/files/programme-${#calendars.format(concert.date,'yyyy-MM-dd')}|">
                                <div th:text="${concert.venue.name}">Venue</div>
                                <div th:if="${@environment.getProperty('bso.file.use-file-storage-service')}">
                                    <div th:if="${@fileStorageService.exists(filename + '.pdf')}">
                                        <br/><a href="program/id" th:href="@{programme/{id}(id = ${concert.id})}">Programme PDF</a>
                                    </div>
                                    <div th:if="${#ctx.getClass().getResource(filename + '-article.pdf') != null}">
                                            <br/><a href="article/id" th:href="@{article/{id}(id = ${concert.id})}">Article</a>
                                    </div>
                                </div>
                                <div th:unless="${@environment.getProperty('bso.file.use-file-storage-service')}">
                                    <div th:if="${#ctx.getClass().getResource(filename + '.pdf') != null}">
                                        <br/><a href="program/id" th:href="@{programme/{id}(id = ${concert.id})}">Programme PDF</a>
                                    </div>
                                    <div th:if="${#ctx.getClass().getResource(filename + '-article.pdf') != null}">
                                        <br/><a href="article/id" th:href="@{article/{id}(id = ${concert.id})}">Article</a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="listByConductor" th:href="@{listByConductor(id=${concert.conductor.id})}">
                                    <span th:text="${concert.conductor.name}">Conductor</span>                            
                                </a>
                            </td>
                            <td>
                                <table class="piece">
                                    <tbody>
                                        <tr th:each="piece : ${concert.pieces}">
                                            <td class="composer">
                                                <a href="listByComposer" th:href="@{listByComposer(name=${piece.composer})}">
                                                    <span th:text="${piece.composer}">Composer</span>
                                                </a>
                                            </td>
                                            <td class="title">
                                                <a href="listByPiece" th:href="@{listByPiece(id=${piece.id})}">
                                                    <span th:text="${piece.title}">Title</span>
                                                </a>
                                            </td>
                                            <td class="subtitle" th:text="${piece.subtitle}">Subtitle</td>
                                        </tr>                    
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <table>
                                    <tbody>
                                        <tr th:each="soloist : ${concert.soloists}">
                                            <td>
                                                <a href="listBySoloist" th:href="@{listBySoloist(id=${soloist.artist.id})}">
                                                    <span th:text="${soloist.artist.name}">Soloist</span>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="listBySkill" th:unless="${#strings.isEmpty(soloist.skill)}" th:href="@{listBySkill(name=${soloist.skill})}">
                                                    (<span th:text="${soloist.skill}">Skill</span>)
                                                </a>
                                            </td>
                                        </tr>                    
                                    </tbody>
                                </table>
                            </td>
                            <td sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_PLANNER')">
                                <a th:href="@{edit/{id}(id = ${concert.id})}" title="Edit">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <a th:href="@{delete/{id}(id = ${concert.id})}" title="Delete" onclick="return confirm('Delete: are you sure?')">
                                    <i class="bi bi-trash"></i>
                                </a>
                                <a id="concertNote" th:if="${!#strings.isEmpty(concert.notes)}" href="#" data-bs-toggle="tooltip" th:title="${concert.notes}">
                                    <i class="bi bi-clipboard"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
