<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head> 
        <title>List Users</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>User List</h1>
        <p/>
        <div th:include="header :: options"/>
        <a th:href="@{new}">Create new user</a>
        <div align="center">
            <br/><br/>
            <table border="1" cellpadding="10">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th sec:authorize="hasRole('ROLE_ADMIN')">Option</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}">User ID</td>
                        <td th:text="${user.email}">Email</td>
                        <td th:text="${user.role}">Role</td>
                        <td sec:authorize="hasRole('ROLE_ADMIN')">
                            <a th:href="@{edit/{id}(id = ${user.id})}">Edit</a>
                            &nbsp;&nbsp;&nbsp;
                            <a th:href="@{delete/{id}(id = ${user.id})}">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
