<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="~{header :: common_header(~{::title}, ~{}, ~{::script})}">
        <title>Login</title>
        <script>
            $().ready(function () {
                $("#loginForm").validate({
                    rules: {
                        username: {
                            required: true,
                        },
                        password: {
                            required: true,
                        }
                    },
                    messages: {
                        username: {
                            required: "Please enter a username",
                        },
                        password: {
                            required: "Please provide a password",
                        }
                    }
                });
            });
        </script>
    </head>
    <body>
        <div class="container">
            <div th:insert="~{header :: options}"/>
            <h1>Login</h1>
            <form id="loginForm" action="#" class="g-3" th:action="@{/login.html}" method='POST'>
                <div class="col-5">
                    <label for="username" class="form-label">Username: </label>
                    <input id="username" type="text" class="form-control" name="username"/>
                </div>
                <div class="col-5">
                    <label for="password" class="form-label">Password: </label>
                    <input id="password" type="password" class="form-control" name="password"/>
                </div>
                <br/>
                <button id="submitButton" class="btn btn-primary col-1" type="submit">Login</button>                 
            </form>
            <p th:if="${loginError}" class="text-danger">Invalid username or password</p>  
        </div>
    </body>
</html>
