<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Register User</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <div th:include="header :: options"/>
        <h1>Register</h1>
        <br/>
        <form action="#" th:action="@{/user/register}" method="post">
            <p>Email address: <input type="text" name="name" readonly="readonly"/></p>
            <p>Password: <input type="password" name="password" /></p>
            <p>Role 
                <select th:field="role">
                    <option value="USER">User</option>
                    <option value="EDITOR">Editor</option>
                    <option value="ADMIN">User</option>
                </select>
            </p>
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form> 
    </body>
</html>
