<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="header :: common_header(~{::title}, ~{}, ~{::script})">
        <title>Set Password</title>
        <script>
            $().ready(function () {
                $("#userForm").validate({
                    rules: {
                        current_password: {
                            required: true
                        },
                        new_password: {
                            required: true,
                            minlength: 8
                        },
                        conf_password: {
                            required: true,
                            minlength: 8,
                            equalTo: "#new_password"
                        }
                    },
                    messages: {
                        current_password: {
                            required: "Current password is required",
                            minlength: "Your password must consist of at least 2 characters"
                        },
                        new_password: {
                            required: "Please provide a new password",
                            minlength: "Your password must be at least 8 characters long"
                        },
                        conf_password: {
                            required: "Please confirm your new password",
                            minlength: "Your password must be at least 8 characters long",
                            equalTo: "Your new passwords do not match"
                        }
                    }
                });
            });

        </script>
    </head>
    <body>
        <div th:include="header :: options"/>
        <h1>Set Password</h1>
        <br/>
        <div class="container">
            <form id="userForm" action="#" th:action="@{setpassword}" method="post" class="form form-horizontal">
                <fieldset>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input th:field="${user.email}" type="email" class="form-control" id="email" name="email" readonly="readonly"/>
                    </div>
                    <div class="mb-3">
                        <label for="current_password" class="form-label">Current password</label>
                        <input th:name="current_password" type="password" class="form-control" id="current_password" name="current_password"/>
                    </div>
                    <div class="mb-3">
                        <label for="new_password" class="form-label">New password</label>
                        <input th:name="new_password" type="password" class="form-control" id="new_password" name="new_password"/>
                    </div>
                    <div class="mb-3">
                        <label for="conf_password" class="form-label">Confirm new password</label>
                        <input th:name="conf_password" type="password" class="form-control" id="conf_password" name="conf_password"/>
                    </div>
                    <div class="col-12">
                        <input class="submit" type="submit" value="Submit"/>
                    </div>
                </fieldset>
            </form>
        </div>
    </body>
</html>
